.footer {
  background: rgb(0, 0, 0); 
  color: white;
  height: fit-content;
}
.follows{
  color: white;
}
.follows span a {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

.follows span {
  margin-right: 15px;
}

.link__list .link__item {
  background: transparent;
}

.link__list a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}
.footer{
  position: relative;
}