
.my-card {
    margin-bottom: 3rem;
    
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.course-img {
  width: 100%;
  height: 200px;
}

.course-details {
  padding-top: 16px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
}
